In [1]:
import json
import pandas as pd
import sys
import re
import string
import numpy as np
import importlib
importlib.reload(sys)
# NLTK
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
#sys.setdefaultencoding('utf-8')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/yulynn/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
file_business, file_checkin, file_review, file_tip, file_user = [
    './yelp_dataset/yelp_academic_dataset_business.json',
    './yelp_dataset/yelp_academic_dataset_checkin.json',
    './yelp_dataset/yelp_academic_dataset_review.json',
    './yelp_dataset/yelp_academic_dataset_tip.json',
    './yelp_dataset/yelp_academic_dataset_user.json'
]

In [3]:
with open(file_review) as f:
    df_review = pd.DataFrame(json.loads(line) for line in f)

In [4]:
star_text=df_review[['stars','text']]

In [5]:
star_text.head(2)

   stars                                               text
0      2  The pizza was okay. Not the best I've had. I p...
1      5  I love this place! My fiance And I go here atl...

In [6]:
star_text = star_text.dropna()
#star_text = star_text[star_text.stars.apply(lambda x: x.isnumeric())]
star_text = star_text[star_text.stars.apply(lambda x: x !="")]
star_text = star_text[star_text.text.apply(lambda x: x !="")]

In [7]:
star_text.head(2)

   stars                                               text
0      2  The pizza was okay. Not the best I've had. I p...
1      5  I love this place! My fiance And I go here atl...

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
def clean_text(text):
    import string
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

In [9]:
star_text['text'] = star_text['text'].map(lambda x: clean_text(x))

In [10]:
star_text.head(2)

   stars                                               text
0      2  pizza okay best i have had prefer biaggio flam...
1      5  love place ! fianc atleast week portion huge !...

In [13]:
def clean_textwithpunc(text):
    import string
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r" ! ", "!", text)
    
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

In [14]:
star_text['text'] = star_text['text'].map(lambda x: clean_textwithpunc(x))

In [15]:
star_text.head(2)

   stars                                               text
0      2  pizza okay best prefer biaggio flamingo fort a...
1      5  love place fianc atleast week portion huge foo...

In [16]:
star_text.to_csv('./restaurant_reviews_without_word.csv', index_label=False)

In [17]:
star_text = pd.read_csv('./restaurant_reviews_without_word.csv')

In [18]:
star_text.head(10)

   stars                                               text
0      2  pizza okay best prefer biaggio flamingo fort a...
1      5  love place fianc atleast week portion huge foo...
2      1  terribl dri corn bread rib tip fat mushi flavo...
3      2  back 2005 2007 place favorit thai place ever w...
4      5  delici healthi food steak amaz fish pork aweso...
5      1  place suck custom servic horribl dont serv foo...
6      5  like thai food tri origin thai bbq pad die tha...
7      5  amaz refer friend first thought korean mexican...
8      4  rib amaz hour wait time amaz understand place ...
9      2  food pretti good gonna lie make sacrif choo ea...